<?xml version='1.0' encoding='UTF-8'?>
<menu name="topmenu">
  <category title="Nyheter">
    <element href="/nyheter/">Nyheter</element>
    <element href="/web-tv/">Nordlys TV</element>
    <element href="http://debatt.nordlys.no/">Debatt</element>
    <element href="/naring/">Næring</element>
    <element href="/sporten/">Sport</element>
    <element href="/sporten/til/">TIL</element>
    <element href="/fotball/live/">Fotball Live</element>
    <element href="/kultur/">Kultur</element>
    <element href="/kultur/musikk/">Musikk</element>
    <element href="/bolig/">Bolig</element>
  </category>
  <category title="Nordlys TV">
    <element href="/web-tv/">Nordlys TV</element>
    <element href="/tv/">TV-magasinet</element>
    <element href="/vis/videotips/">Send inn din video</element>
    <element href="/web-tv/KULESTE_HJEMMEVIDEO/">Kuleste hjemmevideo</element>
    <element href="/sporten/article7297546.ece">Hva føler du nå?</element>
    <element href="/web-tv/nordaforr/">Nordaførr</element>
    <element href="/web-tv/gamledager/">Gamle dager</element>
    <element href="/web-tv/article7280336.ece">Skredskolen</element>
  </category>
  <category title="Tjenester">
    <element href="/vis/rubrikk/eiendom.html">Bolig til salgs</element>
    <element href="/vis/rubrikk/sok.html?localGeo=true&amp;transId=2">Til leie</element>
    <element href="/vis/rubrikk/bil_til_salgs.html?localGeo=true">Bil til salgs</element>
    <element href="/vis/rubrikk/stilling_ledig.html?localGeo=true">Stilling ledig</element>
    <element href="/vis/rubrikk/sok.html?localGeo=true&amp;catId=4000">Småttogstort</element>
    <element href="/vis/annonsearkiv/">Ukens papirannonser</element>
    <element href="/derdubor/">Lokale bedrifter</element>
    <element href="/vis/kalender">Hva skjer-kalenderen</element>
  </category>
  <category title="Kundeservice">
    <element href="/kundesenter/kontakt-oss/tips-oss/">Tips oss</element>
    <element href="http://nordlys.e-pages.dk/">E-avis</element>
    <element href="/kundesenter/">Kundeservice / Min side</element>
    <element href="/kundesenter/privat/abonnere/">Abonnement</element>
    <element href="/vis/rubrikk/onlinebooking/">Sett inn annonse</element>
    <element href="/vis/personalia/">Send en hilsen</element>
    <element href="/kundesenter/kontakt-oss/ansatte/#Redaksjon-1">Kontakt redaksjonen</element>
    <element href="https://www.facebook.com/bladetnordlys">Facebook</element>
    <element href="https://twitter.com/bladetnordlys">Twitter</element>
    <element href="http://instagram.com/bladetnordlys">Instagram</element>
  </category>
  <challengetop href="http://kampanje.amedia.no/2014-april-nordlys-billigere-blir-det-ikke?ns_campaign=fbm.afk1404&amp;ns_mchannel=fbm.chtop.ny&amp;ns_source=fbm.afk1404&amp;ns_linkname=fbm.afk1404&amp;ns_fee=0">
    <image src="http://r.api.no/local/v3/common/gfx/chtop/ch-top_mini_prov_naa_outline.png"/>
    <maintext>8 uker for kun 99 kr</maintext>
    <subtext>Billigere blir det ikke!</subtext>
  </challengetop>



</menu>
