<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu name="topmenu">
    <category title="Nyheter">
        <element href="/lokal_sport/">Sport</element>
        <element href="/kultur/">Kultur</element>
        <element href="/lokale_nyheter/">Nyheter</element>
        <element href="/lokal_sport/fiske/">Fiske</element>
    </category>
    <category title="Magasin">
        <element href="/bildeserier/">Bildeserier</element>
        <element href="/bilogtrafikk/">Bil og trafikk</element>
        <element href="/jobb/">Næringsliv</element>
        <element href="/bolig/">Eiendom</element>
    </category>
    <category title="Tjenester">
        <element href="/vis/annonsearkiv/">Ukas annonser</element>
        <element href="http://www.aurapuls.no/-/local_paper/show/59_aurapuls">Kalender</element>
        <element href="https://www.buyandread.com/pub.htm?pid=auraavis">Aura Avis som PDF</element>
        <element href="http://auraavis.e-pages.dk/">eAvis</element>
        <element href="/derdubor/">Lokale bedrifter</element>
    </category>
    <category title="Kundeservice">
        <element href="/kundesenter/">Kundeservice / Min side</element>
        <element href="/kundesenter/privat/abonnere/">Bestill abonnement</element>
        <element href="/auratorget/">Sett inn annonse</element>
        <element href="/kundesenter/bedrift/tips-oss/">Tips oss</element>
    </category>
    <challengetop href="http://kampanje.amedia.no/2014-mars-aura-avis-bestill-eavis?ns_campaign=fbm.afk1403&amp;ns_mchannel=fbm.chtop.ny&amp;ns_source=fbm.afk1403&amp;ns_linkname=fbm.afk1403&amp;ns_fee=0">
        <image src="http://r.api.no/local/v3/common/gfx/chtop/Klikk_her.jpg"/>
        <maintext>Har du papiravisen</maintext>
        <subtext>Bestill eAvisen nå</subtext>
    </challengetop>
</menu>
