<?xml version='1.0' encoding='UTF-8'?>
<menu name="topmenu">
  <category title="Nyheter">
    <element href="/lokale_nyheter/">Nyheter</element>
    <element href="/sport/">Sport</element>
    <element href="/sport/sarpsborg08/">Sarpsborg 08</element>
    <element href="/sport/sparta_warriors/">Sparta Warriors</element>
    <element href="/kultur/">Kultur</element>
    <element href="/meninger/">Meninger</element>
    <element href="/motor/">Motor</element>
    <element href="/bolig/">Bolig</element>
    <element href="/naringsliv/">Næringsliv</element>
  </category>
  <category title="Multimedia">
    <element href="http://sarpsborg.e-pages.dk/">E-avis</element>
    <element href="/sa_tv/">SA.TV</element>
    <element href="/bildeserier/">Bilder</element>
    <element href="https://www.facebook.com/sarpsborgarbeiderblad">Facebook</element>
    <element href="/nettradio/">Nettradio</element>
    <element href="/vis/videotips/">Last opp video!</element>
    <element href="/om_sa/rss/">RSS</element>
  </category>
  <category title="Tjenester">
    <element href="/vis/rubrikk/bolig_til_salgs.html">Bolig til salgs</element>
    <element href="/vis/rubrikk/jobb.html?transId=11">Stilling ledig</element>
    <element href="/vis/rubrikk/bil_til_salgs.html?localGeo=true">Bil til salgs</element>
    <element href="/vis/rubrikk/onlinebooking/">SA-torget</element>
    <element href="/derdubor/">Lokale bedrifter</element>
    <element href="http://www.sarpeliv.no/-/local_paper/show/20_sarpeliv-no">Sarpeliv</element>
    <element href="/spillsenteret/">Spillsenteret</element>
    <element href="/vis/annonsearkiv" channel="desktop">Avisannonser</element>
    <element href="/vis/vaeret/">Været</element>
  </category>
  <category title="Kundeservice">
    <element href="/kundesenter/">Kundeservice / Min side</element>
    <element href="/kundesenter/privat/annonsere/">Sett inn annonse</element>
    <element href="/vis/personalia/greetings">Send hilsen</element>
    <element href="/kundesenter/privat/abonnere/">Abonnement</element>
    <element href="/kundesenter/">Adresseendring</element>
    <element href="/kundesenter/kontakt-oss/tips-oss/">Tips oss</element>
    <element href="/kundesenter/kontakt-oss/">Kontakt</element>
  </category>
  <challengetop href="http://kampanje.amedia.no/2014-april-sarpsborg-arbeiderblad-billigere-blir-det-ikke?ns_campaign=fbm.afk1404&amp;ns_mchannel=fbm.chtop.ny&amp;ns_source=fbm.afk1404&amp;ns_linkname=fbm.afk1404&amp;ns_fee=0">
    <image src="http://r.api.no/local/v3/common/gfx/chtop/ch-top_mini_prov_naa_outline.png"/>
    <maintext>8 uker for kun 99 kr</maintext>
    <subtext>Billigere blir det ikke!</subtext>
  </challengetop>



</menu>
