<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu name="topmenu">
    <category title="Nyheter">
        <element href="/spaltemaler/">Spaltemaler</element>
        <element href="http://www.rb.no/lokal_sport/">Sport</element>
        <element href="http://www.rb.no/lsk-magasinet/">LSK</element>
        <element href="http://www.rb.no/lokal_kultur/">Kultur</element>
        <element href="http://www.rb.no/bolig/">Bolig</element>
        <element href="http://www.rb.no/bil/">Bil</element>
        <element href="http://www.rb.no/naringsliv/">Næringsliv</element>
        <element href="http://rb.no/meninger/">Meninger</element>
    </category>
    <category title="Tjenester">
        <element href="http://www.rb.no/vis/rubrikk/eiendom.html">Eiendom til salgs</element>
        <element href="http://www.rb.no/vis/rubrikk/jobb.html">Ledige stillinger</element>
        <element href="http://www.rb.no/vis/rubrikk/motor.html">Bil til salgs</element>
        <element href="http://www.rb.no/derdubor/">Lokale bedrifter</element>
        <element href="http://www.rb.no/vis/annonsearkiv/#0">Ukas avisannonser</element>
        <element href="http://www.rb.no/vis/vaeret/">Været</element>
        <element href="http://www.rb.no/skikart/">Skikart og føremelding</element>
        <element href="http://facebook.rb.no/">Facebook</element>
        <element href="https://twitter.com/romerikesblad">Twitter</element>
        <element href="http://www.rb.no/spillsenteret/">Spillsenteret</element>
    </category>
    <category title="Kundeservice">
        <element href="http://www.rb.no/kundesenter/privat/min-side/">Kundeservice / Min side</element>
        <element href="http://romerikesblad.e-pages.dk/">eAvis (kun desktop)</element>
        <element href="http://romerikesblad.e-pages.dk/">eAvis (kun mobil)</element>
        <element href="http://www.rb.no/vis/rubrikk/onlinebooking/">Sett inn annonse</element>
        <element href="http://www.rb.no/vis/personalia/">Send inn hilsen</element>
        <element href="http://www.rb.no/kundesenter/privat/abonnere/">Abonnere</element>
        <element href="http://www.rb.no/kundesenter/privat/min-side/">Adresseendring</element>
        <element href="http://www.rb.no/kundesenter/kontakt-oss/tips-oss/">Tips oss</element>
        <element href="http://www.rb.no/kundesenter/kontakt-oss/ansatte/">Kontakt oss</element>
        <element href="http://www.romeriksfondet.no/">Romeriksfondet</element>
    </category>
    <category title="New Category"/>
    <challengetop href="http://www.amedia.no/test">
        <image alt="Alt text test" src="http://admin.test.api.no/api/menueditor/v1/images/ch-top_mini_bestill_naa_outline.png?token=I08meGhpF05cdlM0BhINC3poCTZwHGMD"/>
        <maintext>Tittel test</maintext>
        <subtext>Subtext test</subtext>
    </challengetop>
</menu>
