<?xml version='1.0' encoding='UTF-8'?>
<menu name="topmenu">
  <category title="Nyheter">
    <element href="/nyheter">Nyheter</element>
    <element href="/lokal_sport/">Sport</element>
    <element href="/kultur/">Kultur</element>
    <element href="/bilogtrafikk/">Bil og trafikk</element>
    <element href="/jobb/">Næringsliv</element>
    <element href="/bolig/">Bolig</element>
    <element href="/vis/vaeret/">Været</element>
  </category>
  <category title="Multimedia">
    <element href="/bildeserier/">Bildeserier</element>
    <element href="/spillsenteret/">Spillsenter</element>
    <element href="/vis/videotips/">Del videoer med oss</element>
    <element href="http://stjordalensblad.e-pages.dk/">eAvis</element>
    <element href="https://www.buyandread.com/pub.htm?pub=111" channel="desktop">PDF-avis</element>
    <element href="/fotball/live/">Live fotball</element>
    <element href="/web-tv/">Web-TV</element>
  </category>
  <category title="Treffpunkt">
    <element href="http://stjordalspuls.no/-/local_paper/show/31_stjoerdalspuls">StjørdalsPULS</element>
    <element href="https://www.facebook.com/pages/Stj%C3%B8rdalens-Blad/250871670740?fref=ts">Facebook</element>
    <element href="http://www.twitter.com/stjordalensblad">Twitter</element>
    <element href="/derdubor/">Lokale bedrifter</element>
    <element href="/vis/rubrikk/eiendom.html">Bolig til salgs</element>
    <element href="/vis/rubrikk/jobb.html">Stilling ledig</element>
    <element href="/vis/rubrikk/motor.html">Bil til salgs</element>
    <element href="/vis/annonsearkiv/">Ukens papirannonser</element>
  </category>
  <category title="Kundeservice">
    <element href="/kundesenter/">Kundeservice / Min side</element>
    <element href="/vis/rubrikk/onlinebooking/">Sett inn annonse</element>
    <element href="/vis/personalia/">Nyfødtbilder</element>
    <element href="/vis/personalia/">Bursdagsbilder</element>
    <element href="/vis/personalia/">Bryllupsbilder</element>
    <element href="/kundesenter/privat/abonnere/">Abonnement</element>
    <element href="/kundesenter/">Adresseendring</element>
    <element href="/kundesenter/kontakt-oss/tips-oss/">Tips oss</element>
    <element href="/kundesenter/kontakt-oss/ansatte/">Kontakt</element>
  </category>
  <challengetop href="http://kampanje.amedia.no/2014-mars-stjordalens-blad-bestill-eavis?ns_campaign=fbm.afk1403&amp;ns_mchannel=fbm.chtop.ny&amp;ns_source=fbm.afk1403&amp;ns_linkname=fbm.afk1403&amp;ns_fee=0">
    <image src="http://r.api.no/local/v3/common/gfx/chtop/Klikk_her.jpg"/>
    <maintext>Har du papiravisen?</maintext>
    <subtext>Bestill eAvisen nå</subtext>
  </challengetop>



</menu>
