<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu name="topmenu">
    <category title="Nyheter">
        <element href="/nyheter/">Nyheter</element>
        <element href="/kultur/">Kultur</element>
        <element href="/sport/">Sport</element>
        <element href="/motormagasinet/">Motor</element>
        <element href="/jobb/">Jobb</element>
        <element href="/bolig/">Bolig</element>
    </category>
    <category title="Multimedia">
        <element href="https://www.facebook.com/lokalavisaiaas">Facebook</element>
        <element href="/bildeserier/">Bildeserier</element>
        <element href="https://www.buyandread.com/pub.htm?pub=asavis">E-avis</element>
    </category>
    <category title="Tjenester ">
        <element href="http://aas.origo.no/-/local_paper/show/53_aas-avis-sin-lokalsone?ref=checkpoint">Hva skjer i Ås?</element>
        <element href="/kundesenter/privat/annonsere/">Hilsener og gratulasjoner</element>
        <element href="/vis/rubrikk/stilling_ledig.html">Stilling ledig</element>
        <element href="/jobb/">Bolig til salgs</element>
        <element href="/vis/rubrikk/bil_til_salgs.htm">Bil til salgs</element>
        <element href="/vis/rubrikk/torg.html">Smått og stort til salgs</element>
        <element href="/vis/annonsearkiv/">Ukens papirannonser</element>
        <element href="/derdubor/">Lokale bedrifter</element>
    </category>
    <category title="Kundeservice">
        <element href="/kundesenter/">Kundeservice / Min side</element>
        <element href="/vis/rubrikk/onlinebooking/">Sett inn annonse</element>
        <element href="/kundesenter/privat/annonsere/">Send hilsen</element>
        <element href="/vis/rubrikk/onlinebooking/">Abonnement</element>
        <element href="/kundesenter/kontakt-oss/">Adresseendring</element>
        <element href="/kundesenter/kontakt-oss/tips-oss/">Tips oss</element>
        <element href="/kundesenter/kontakt-oss/">Kontakt</element>
    </category>
    <challengetop href="http://kampanje.amedia.no/2014-januar-as-avis-bestill-papir-8-uker?ns_campaign=fbm.afk1402a&amp;ns_mchannel=fbm.chtopp&amp;ns_source=fbm.afk1402a&amp;ns_linkname=fbm.afk1402a&amp;ns_fee=0">
        <image src="http://r.api.no/local/v3/common/gfx/chtop/Klikk_her.jpg"/>
        <maintext>8 uker papiravis kr. 99,</maintext>
        <subtext>Bestill avisen nå</subtext>
    </challengetop>
</menu>
