<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu name="menu">
    <category title="Category_News">
        <element href="asdfsadfsdaf">asdfasdf</element>
    </category>
    <challengetop href="">
        <image alt="" src="http://192.168.0.100:8080/api/menueditor/v1/images/Profile_Pic.jpg"/>
        <maintext>Challenge Me</maintext>
        <subtext></subtext>
    </challengetop>
</menu>
