<?xml version='1.0' encoding='UTF-8'?>
<menu name="topmenu">
  <category title="Nyheter">
    <element href="/nyheter/">Nyheter</element>
    <element href="/gdnorddalen/">Norddalen</element>
    <element href="/sormidtdalen/">Sør-Midtdalen</element>
    <element href="/lillehammer/">Lillehammer</element>
    <element href="/ringsaker/">Ringsaker</element>
    <element href="/meninger/">Meninger</element>
    <element href="/magasiner/">Magasin</element>
    <element href="/vis/personalia/greetings">Familie</element>
    <element href="/kultur/">Kultur</element>
    <element href="/sport/">Sport</element>
  </category>
  <category title="Multimedia">
    <element href="http://gudbrandsdolen.e-pages.dk/" channel="desktop">E-avis</element>
    <element href="/bilder/">Bilder</element>
    <element href="http://www.gdpuls.no/-/local_paper/show/30_gdpuls-no">Gdpuls</element>
    <element href="/konkurranse/">Konkurranse</element>
  </category>
  <category title="Tjenester">
    <element href="/vis/rubrikk/eiendom.html">Bolig til salgs</element>
    <element href="/vis/rubrikk/stilling_ledig.html?localGeo=true">Stilling ledig</element>
    <element href="/vis/rubrikk/sok.html?localGeo=true&amp;catId=10000">Bil til salgs</element>
    <element href="/vis/vaeret/">Været</element>
    <element href="http://www.facebook.com/gudbrandsdolen">Facebook</element>
    <element href="/spillsenteret/">Spillsenteret</element>
    <element href="/derdubor/">Lokale bedrifter</element>
    <element href="/bolig/">Bolig</element>
    <element href="/motor/">Motor</element>
    <element href="/nyheter/article7274919.ece">Generalforsamling</element>
  </category>
  <category title="Kundeservice">
    <element href="/kundesenter/">Kundeservice / Min side</element>
    <element href="/kundesenter/privat/annonsere/">Sett inn annonse</element>
    <element href="/vis/personalia/greetings">Send hilsen</element>
    <element href="/kundesenter/privat/bestill/">Abonnement</element>
    <element href="/kundesenter/privat/bestill/">Adresseendring</element>
    <element href="/kundesenter/kontakt-oss/tips-oss/">Tips oss</element>
    <element href="/kundesenter/kontakt-oss/">Kontakt</element>
    <element href="/kundesenter/kontakt-oss/gdfondet/">GD-fondet</element>
    <element href="http://www.ais-oppland.net/">Avis i skolen</element>
  </category>
  <challengetop href="">
    <image src=""/>
    <maintext/>
    <subtext/>
  </challengetop>
</menu>
