<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu name="menu">
    <category title="rtewr">
        <element href="/kloik">ghjghg</element>
    </category>
    <challengetop href="">
        <image alt="" src="http://localhost:9072/api/menueditor/v1/images/Mountain_Village.jpg"/>
        <maintext>Main Text goes here</maintext>
        <subtext>subtext of something</subtext>
    </challengetop>
</menu>
