<?xml version='1.0' encoding='UTF-8'?>
<menu name="topmenu">
  <category title="Nyheter">
    <element href="/nyheter">Nyheter</element>
    <element href="/sport">Sport</element>
    <element href="/kultur">Kultur</element>
    <element href="/motormagasinet/">Motor</element>
    <element href="/bolig/">Bolig</element>
    <element href="/jobbmagasinet/">Næring</element>
  </category>
  <category title="Multimedia">
    <element href="/bildeserier/">Bildeserier</element>
    <element href="http://lofottidende.e-pages.dk/index.php" channel="desktop">E-Avis</element>
    <element href="/webkamera">Webkamera</element>
    <element href="/evigung">Evig Ung</element>
    <element href="/Video_import/">Video</element>
    <element href="/nyheter/article5454345.ece">Skipstrafikken</element>
  </category>
  <category title="Tjenester">
    <element href="/vis/rubrikk/stilling_ledig.html?localGeo=true">Bolig til salgs</element>
    <element href="/vis/rubrikk/stilling_ledig.html?localGeo=true">Stilling ledig</element>
    <element href="/vis/rubrikk/motor.html?localGeo=true&amp;catId=10000">Bil til salgs</element>
    <element href="https://www.facebook.com/lofottidende">Følg oss på Facebook</element>
    <element href="/vis/videotips/">Send oss din video</element>
    <element href="/vis/annonsearkiv/">Ukens papirannonser</element>
    <element href="/derdubor/">Lokale bedrifter</element>
  </category>
  <category title="Kundeservice">
    <element href="/kundesenter/">Kundeservice / Min side</element>
    <element href="/vis/rubrikk/onlinebooking/">Sett inn annonse</element>
    <element href="/vis/personalia/greetings">Send hilsen</element>
    <element href="/kundesenter/privat/abonnere/">Abonnement</element>
    <element href="/kundesenter/">Adresseendring</element>
    <element href="mailto:tips@lofot-tidende.no">Tips oss</element>
    <element href="mailto:redaksjon@lofot-tidende.no">Kontakt</element>
  </category>
  <challengetop href="http://kampanje.amedia.no/2014-mars-lofot-tidende-bestill-eavis?ns_campaign=fbm.afk1403&amp;ns_mchannel=fbm.chtop.ny&amp;ns_source=fbm.afk1403&amp;ns_linkname=fbm.afk1403&amp;ns_fee=0">
    <image src="http://r.api.no/local/v3/common/gfx/chtop/Klikk_her.jpg"/>
    <maintext>Har du papiravisen?</maintext>
    <subtext>Bestill eAvisen nå</subtext>
  </challengetop>



</menu>
